.absolute-position {
    margin: 0;
    position: absolute;
    right: 0px;
    display: inline-block;
}

.btn {
    background-color:#f7f7f7;
    border-radius: 2px;
    border: none;
    color: #C70039;
    padding: 5px;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
    font-size: 16px;
}